html{
	height: 565px;
	background-color: #696969;
}

header {
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	text-align: center;
	margin-bottom: 3px;
}

a {
	color:#FFFFFF;
	text-align:left;
}

.frame{
	width: 50%;
	display: inline-block;
	border-radius: 10px;
	text-align: right;
}

iframe{
	height: 400px;
	width: 70%; 
	display: inline;

}

.info{
	width: 30%;
	display: inline-block;
	height: 400px;
	vertical-align: top;
	text-align: center;
}

h2,p,label {
	color:#FF8C00;
}

.imagen{
	width: 50%;
	height: 50%;
}


footer{
	width: 100%;
	margin-top: 30px;
	margin-right: 30px;
	display: inline-block;

}

.Berners{
	height: 50px;
	width: 80px;
	float: right;
}

.cern{
	height: 50px;
	width: 80px;
}

 th, td {
	text-align: center;
	font-size:medium;
}


 table {
	border-collapse:separate;
	border-spacing: 10px;
	empty-cells:show;
  }

  .imagenind{
	width: 10%;
	height: 10%;
}
