h1{
    text-align: center; 
    padding: 0; 
    color: orange; 
    border: 2px solid orange; 
    padding: 25px; 
    margin-left: 125px; 
    margin-right: 125px;
}

.back{
    background-color: black;
}

.user{
    color: orange; 
    margin-left: 125px
}

.comun{
    color: orange;
}

.links{
    color: white;
}

.inicio{
    color: white; 
    margin-left: 125px;
}

.iframe{
    float: right; 
    margin-right: 125px;
}

.img{
    margin-left: 125px;
}

.text{
    color: orange; 
    margin-left: 125px
}